# version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: local_postgres
    restart: always
    environment:
      POSTGRES_USER: longpham
      POSTGRES_PASSWORD: mFzZVVybCI6InBvc3RncmVzOi8vcG9zdGdyZXM6cG9zd
      POSTGRES_DB: networking_companion
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
